<mat-toolbar color="primary">
  @if (userIsAuthenticated) {
    <h1><a mat-button routerLink="/tasks">Your Tasks</a></h1>
  } @else {
    <h1>Do Your Tasks Today</h1>
  }
  <span class="spacer"></span>
  <ul>
    @if(userIsAuthenticated) {
      <li>
      <button mat-button routerLink="/profile">profile</button>
    </li>
    <li>
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
    } @else {
    <li>
      <a mat-button routerLink="/">Login</a>
    </li>
    <li>
      <a mat-button routerLink="/signup">Signup</a>
    </li>
    }
  </ul>
</mat-toolbar>
