<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  @if (isLoading) {
  <mat-spinner></mat-spinner>
  } @else {
  <form (submit)="onSubmit(form)" #form="ngForm">
    <mat-card-content>
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input
          matInput
          type="email"
          name="email"
          ngModel
          #emailInput="ngModel"
          required
          email
          maxlength="128"
          [(ngModel)]="email"
        />
        <mat-error>Please enter a valid email!</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          ngModel
          #passwordInput="ngModel"
          required
          maxlength="128"
          minlength="8"
          [(ngModel)]="password"
        />
        <mat-error>Please enter a valid password!</mat-error>
      </mat-form-field>
      <mat-checkbox name="rememberLogin" [(ngModel)]="isRememberLogin"
        >Stay Logged In</mat-checkbox
      >
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </form>
  }
</mat-card>
